/* Reset default styles and set base font properties */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    outline: none;
    background: none;
    list-style: none;
}

/* Ensure full viewport coverage */
body, html {
    width: 100%;
    height: 100%;
}

/* Style the body */
body {
    background: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Style the main container div */
#game,
#mask {
    max-width: 1920px;
    max-height: 1080px;
    width: 100%;
    height: 100%;
    background: url(../assets/backgrounds/stadium.png) no-repeat center center;
    background-size: cover;
    image-rendering: pixelated;
    position: relative;
    z-index: 0;
}

#mask {
    background: url(../assets/backgrounds/stadium-mask.png) no-repeat center center;
    z-index: 1;
    pointer-events: none;
}

/* Style the floor element */
#floor {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(37% + 178px);
    will-change: transform;
}

#nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    display: block;
    height: 50px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px;
}

.music {
    height: 28px;
    width: 160px;
    margin: 20px;
}